<h1>Create your Gabble</h1>

<form class="/creategabble" action="index.html" method="post">
  <textarea name="gabble" rows="8" cols="80" placeholder="create gabble"></textarea>
  <input type="submit" name="" value="save your gabble">
</form>
